@charset "UTF-8";
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100svh;
  position: relative;
  z-index: 1;
  color: #000;
  font-family: "neusa-next-std", sans-serif;
  font-size: clamp(15px, 0.94vw, 40px);
  line-height: 1.55;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

*, *::before, *::after {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  outline: 0;
  text-rendering: optimizeLegibility;
}

blockquote {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main, header, aside, img {
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield !important; /* Firefox */
}

hr {
  height: 0;
}

/* Typography */
h1, .h1 {
  font-size: clamp(28px, 2.8vw, 72px);
  line-height: 1.25;
  margin: 0 0 clamp(20px, 1.5vw, 60px);
  font-weight: 400;
  color: #0097CD;
}

h2, .h2 {
  font-size: clamp(24px, 2.5vw, 66px);
  line-height: 1.3;
  margin: 0 0 clamp(25px, 1.7vw, 60px);
  font-weight: 400;
  color: #0097CD;
}

h3, .h3 {
  font-size: clamp(22px, 1.7vw, 60px);
  line-height: 1.3;
  margin: 0 0 clamp(25px, 1.7vw, 60px);
  font-weight: 400;
}

h4, .h4 {
  font-size: clamp(20px, 1.25vw, 50px);
  line-height: 1.5;
  margin: 0 0 clamp(25px, 1.7vw, 60px);
  font-weight: 400;
}

h5, .h5 {
  font-size: clamp(14px, 0.73vw, 34px);
  line-height: 1.5;
  margin: 0 0 clamp(12px, 1.2vw, 60px);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: clamp(1.5px, 0.14vw, 4px);
}

h6, .h6 {
  font-size: clamp(14px, 0.73vw, 34px);
  line-height: 1.5;
  margin: 0 0 clamp(25px, 1.7vw, 60px);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: clamp(1.5px, 0.14vw, 4px);
}

.large-text {
  font-size: clamp(22px, 1.67vw, 40px);
  font-weight: 400;
}

.medium-text {
  font-size: clamp(20px, 1.46vw, 40px);
}

.small-text {
  font-size: 18px;
}

.font-main-color {
  color: #0097CD;
}

.next-btn-wrapper {
  position: absolute;
  right: -100%;
  bottom: 0;
  padding: 1.6vw 6.2vw 1.6vw 3.2vw;
  border-radius: 1.6rem 0px 0px 0px;
  background-color: #1E344B;
  color: #fff;
  transition: all 0.4s ease;
}
.next-btn-wrapper svg {
  position: absolute;
  right: 3.2vw;
  z-index: 60;
  pointer-events: none;
  width: 1.85vw;
  transition: all 0.4s ease;
}
.next-btn-wrapper:hover .next-btn {
  padding-right: 1vw;
  color: #A0E2FE;
}
.next-btn-wrapper .next-btn {
  cursor: pointer;
  text-transform: uppercase;
  font-size: clamp(18px, 1.4vw, 40px);
  color: #fff;
  transition: all 0.4s ease;
}

.section-bgr {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  transition: ease 0.8s;
}
.section-bgr svg {
  width: 100%;
  height: 100%;
}
.section-bgr.overlay:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: linear-gradient(180deg, #1E344B 0%, rgba(30, 52, 75, 0) 100%);
}

.ci-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.modal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal {
  border-radius: 48px;
  background: rgba(245, 251, 253, 0.9);
  box-shadow: 0px 32px 39px 0px rgba(30, 52, 75, 0.11);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 5vw;
  display: flex;
  flex-direction: column;
}
.modal.w-50 {
  width: 50% !important;
}

.avatar-counter-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px 12px 12px;
  border-radius: 72px;
  background: rgb(255, 255, 255);
}
.avatar-counter-wrap .left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-right: 32px;
  border-right: 1px solid rgb(221, 221, 221);
}
.avatar-counter-wrap .left-side img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
}
.avatar-counter-wrap .right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding-left: 32px;
}

.avatar-counter-abs {
  position: absolute;
  top: 1vw;
  left: 1vw;
}

.bg-green {
  background: linear-gradient(0deg, #3E944A, #3E944A), linear-gradient(0deg, #4DB95C, #4DB95C);
  border: 4px solid rgb(62, 148, 74);
}

.token-cta-wrap {
  margin-top: 48px;
  display: flex;
  align-items: center;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(15px, 1.3vw, 40px) clamp(20px, 2vw, 80px) clamp(15px, 1.3vw, 40px) clamp(30px, 2.5vw, 200px);
  gap: 16px;
  border-radius: 60px;
}

.tokens-title {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.8px;
}

.lose-token-btn {
  border: 1px solid rgb(214, 97, 147);
}

.get-token-btn {
  border: 1px solid rgb(77, 185, 92);
  margin-right: clamp(15px, 1vw, 70px);
}

.font-red-color {
  color: #CC3A78;
}

.font-green-color {
  color: rgb(77, 185, 92);
}

.close-p {
  margin: 0 0 3rem;
}

.uk-flex-column {
  flex-direction: column;
}

.uk-flex {
  display: flex;
}
.uk-flex a {
  color: #0097CD;
  text-decoration: none;
}

.step1-section {
  display: flex;
}
.step1-section .left-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  background-color: #fff;
  padding: 4vw;
}
.step1-section .left-side .logo {
  margin-bottom: 2vw;
}
.step1-section .left-side .h2 {
  color: #0097CD;
}
.step1-section .right-side {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step1-section .right-side img {
  width: 70%;
}

.step2-section {
  background-color: #39f;
  background: linear-gradient(137deg, rgba(160, 226, 254, 0) 0%, rgba(160, 226, 254, 0.23) 36.85%, rgba(183, 232, 253, 0.52) 66.67%, #E5F7FF 100%), #fff;
  display: flex;
}
.step2-section .section-bgr {
  display: flex;
  bottom: 0;
}
.step2-section .first-col {
  width: 30%;
  padding: 5vw 10px 5vw 5vw;
  z-index: 2;
  height: 100%;
  overflow: auto;
}
.step2-section .first-col h2 {
  margin: 0 0 clamp(25px, 1.7vw, 60px);
}
.step2-section .first-col p {
  font-size: 22px;
  margin: 0 0 3rem;
}
.step2-section .first-col .small-avatars-wrap {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5vw;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.step2-section .second-col {
  width: 30%;
  padding-bottom: 8.4%;
}
.step2-section .second-col .big-avatar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.step2-section .second-col .big-avatar img {
  max-height: 80%;
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}
.step2-section .third-col {
  width: 40%;
}

.small-avatar-wrap {
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.5s ease;
  aspect-ratio: 115/135;
}
.small-avatar-wrap .inner-img-wrap {
  background-color: rgba(0, 151, 205, 0.2);
  border-radius: 16px;
  transition: all 0.5s ease;
  aspect-ratio: 115/135;
}
.small-avatar-wrap .inner-img-wrap img {
  position: absolute;
  bottom: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center 20px;
     object-position: center 20px;
  transition: all 0.5s ease;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
}
.small-avatar-wrap:last-child img {
  -o-object-position: 0;
     object-position: 0;
}
.small-avatar-wrap:hover .inner-img-wrap, .small-avatar-wrap.active .inner-img-wrap {
  box-shadow: 0px 0px 0px 8px #fff, 16px 16px 16px 0px rgba(30, 52, 75, 0.1);
  margin-top: -0.3vw;
}
.small-avatar-wrap:hover .inner-img-wrap img, .small-avatar-wrap.active .inner-img-wrap img {
  -o-object-position: 0;
     object-position: 0;
}
.small-avatar-wrap.passive {
  opacity: 0.5;
}

.avatar-info-wrap {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  padding: 5vw 5vw 8vw;
}
.avatar-info-wrap .avatar-info {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.avatar-info-wrap .avatar-info .info-row {
  border-bottom: 1px solid #A0E2FE;
  margin-bottom: clamp(20px, 1.3vw, 70px);
  padding-bottom: clamp(20px, 1.3vw, 70px);
}
.avatar-info-wrap .avatar-info .info-row .h3, .avatar-info-wrap .avatar-info .info-row h4 {
  margin: 0;
}
.avatar-info-wrap .avatar-info .info-row:last-child {
  border: none;
}
.avatar-info-wrap .avatar-info .info-row .determinant-row {
  display: flex;
  align-items: center;
  margin-bottom: clamp(8px, 0.6vw, 40px);
}
.avatar-info-wrap .avatar-info .info-row .determinant-row .determinant-img {
  margin-right: clamp(15px, 1vw, 60px);
  border-radius: 50%;
  width: clamp(32px, 2.2vw, 50px);
  min-width: clamp(32px, 2.2vw, 50px);
  height: clamp(32px, 2.2vw, 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-info-wrap .avatar-info .info-row .determinant-row .determinant-img svg {
  width: 100%;
  height: 100%;
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3 .section-bgr {
  opacity: 1;
}
.section-3 .avatar-counter-wrap {
  transform: translateY(50%);
  z-index: 10;
}
.section-3 .modal {
  width: 62%;
  color: rgb(30, 52, 75);
}

.section-4 {
  display: flex;
}
.section-4 .section-bgr {
  opacity: 1;
  display: flex;
}
.section-4 .left-col {
  width: 50%;
  height: 100%;
}
.section-4 .left-col .big-avatar {
  height: 100%;
  transition: ease 0.5s;
}
.section-4 .left-col .big-avatar img {
  max-height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
}
.section-4 .right-col {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-4 .right-col .modal-info {
  width: 87%;
  max-height: 77%;
}
.section-4 .right-col .content {
  color: rgb(30, 52, 75);
}
.section-4 .right-col hr {
  height: 1px; /* Çizginin yüksekliğini ayarlayın */
  background-color: rgb(160, 226, 254);
  margin-bottom: 24px;
}
.section-4 .right-col .below-content {
  color: #0097CD;
}

.step-5 .section-bgr {
  opacity: 1;
}
.step-5 .avatar-counter {
  position: absolute;
  top: 1vw;
  left: 1vw;
}

.do-you-have .do-you-have-wrp .do-you-have-top {
  padding: 0 clamp(20px, 5vw, 40px);
  margin-bottom: clamp(20px, 5vw, 48px);
  border-bottom: 1px solid rgb(160, 226, 254);
}
.do-you-have .do-you-have-wrp .do-you-have-top h4 {
  color: rgb(0, 151, 205);
  margin-bottom: clamp(2px, 5vw, 15px);
}
.do-you-have .do-you-have-wrp .do-you-have-top h1 {
  color: rgb(30, 52, 75);
}
.do-you-have .do-you-have-wrp .do-you-have-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.do-you-have .do-you-have-wrp .do-you-have-bottom h5 {
  margin-bottom: 28px;
  margin-bottom: clamp(2px, 5vw, 15px);
  color: rgb(30, 52, 75);
}
.do-you-have .do-you-have-wrp .do-you-have-bottom .range-container {
  position: relative;
  width: 100%;
}
.do-you-have .do-you-have-wrp .do-you-have-bottom .input-range {
  width: 100%;
  margin: 2.6vw 0 1.05vw;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 1.7vw;
  border-radius: 16px;
  background: rgb(0, 151, 205);
  outline: none;
  transition: 1s ease;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.do-you-have .do-you-have-wrp .do-you-have-bottom .input-range:hover {
  opacity: 1;
}
.do-you-have .do-you-have-wrp .do-you-have-bottom .input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: url("/src/assests/slider-btn.png") center no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-top: 15px;
  height: 5.7vw;
  width: 5.7vw;
}

.step-7 {
  background-image: radial-gradient(121.39% 114.15% at 44.52% 41.85%, #0097CD 0%, #1E344B 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.step-7 .title-checkpoint {
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  padding: 2.5vw;
}
.step-7 .main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.step-7 .main-div .big-avatar {
  position: absolute;
  z-index: 5;
  left: 10%;
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 20%;
}
.step-7 .main-div .big-avatar img {
  position: absolute;
  height: 70%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  -o-object-fit: contain;
     object-fit: contain;
}
.step-7 .logo {
  width: clamp(100px, 10.5vw, 400px);
  position: absolute;
  bottom: clamp(15px, 2vw, 65px);
  right: clamp(15px, 5vw, 65px);
}
.step-7 .logo svg {
  width: 100%;
}

.sec-13 .modal-info .modal {
  align-items: center;
  justify-content: center;
}
.sec-13 .modal-info .modal .cost-wrap {
  display: flex;
  padding: 20px 37px;
  border-radius: 24px;
  background: #FFFFFF;
  margin-top: 24px;
  width: 100%;
}
.sec-13 .modal-info .modal .cost-wrap .side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.sec-13 .modal-info .modal .cost-wrap .side h5 {
  width: 100%;
}
.sec-13 .modal-info .modal .cost-wrap .side .h3 {
  margin: 0;
}
.sec-13 .modal-info .modal .cost-wrap .left-side {
  color: #0097CD;
  border-right: 1px solid #DDDDDD;
}
.sec-13 .modal-info .modal .cost-wrap .right-side {
  padding-left: 30px;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
}
.close .big-avatar {
  position: absolute;
  width: 25%;
  height: 70%;
  z-index: 5;
}
.close .big-avatar img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.close .modal-info {
  width: 50%;
  height: 80%;
}
.close .modal-info .modal {
  width: 100%;
}/*# sourceMappingURL=main.css.map */