.avatar-info-wrap {
    height: 100%;
    width: 100%;
    //background-color:#39f; //,linear-gradient(137deg, rgba(160, 226, 254, 0) 0%, rgba(160, 226, 254, 0.23) 36.85%, rgba(183, 232, 253, 0.52) 66.67%, #E5F7FF 100%), #FFF;
    background-color: aliceblue;
    padding: 5vw 5vw 8vw;
    .avatar-info {
        display: flex;
        flex-direction: column;
        overflow: auto;
        .info-row {
            border-bottom: 1px solid #A0E2FE;
            margin-bottom: clamp(20px, 1.3vw, 70px);
            padding-bottom: clamp(20px, 1.3vw, 70px);

            .h3,h4{
                margin: 0;
            }

            &:last-child {
            border:none;
            }
            .determinant-row {
                display: flex;
                align-items: center;
                margin-bottom: clamp(8px, 0.6vw, 40px);

                .determinant-img {
                    margin-right: clamp(15px, 1vw, 60px);
                    border-radius: 50%;
                    width: clamp(32px, 2.2vw, 50px);
                    min-width: clamp(32px, 2.2vw, 50px);
                    height: clamp(32px, 2.2vw, 50px);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}