.do-you-have{
	.do-you-have-wrp{
		.do-you-have-top{
			padding: 0 clamp(20px, 5vw, 40px);
			margin-bottom: clamp(20px, 5vw, 48px);
			border-bottom: 1px solid rgba(160, 226, 254, 1);
			
			h4{
				color: rgba(0, 151, 205, 1);
				margin-bottom: clamp(2px, 5vw, 15px);;
			}
			h1{
				color: rgba(30, 52, 75, 1);
			}
		}
		.do-you-have-bottom{
			display: flex;
			flex-direction: column;
			align-items: center;
			h5{
			margin-bottom: 28px;
			margin-bottom: clamp(2px, 5vw, 15px);
			color:rgba(30, 52, 75, 1);

			}
			.range-container {
				position: relative;
				width: 100%;
			  }
			.input-range {
				width: 100%;
				margin: 2.6vw 0 1.05vw;
				-webkit-appearance: none;
				appearance: none;
				height: 1.7vw;
				border-radius: 16px;
				background: rgba(0, 151, 205, 1);
				outline: none;
				transition: 1s ease;
				opacity: 0.7;
				-webkit-transition: .2s;
				transition: opacity .2s;
			  }
			  
			  .input-range:hover {
				opacity: 1;
			  }
			  
			  .input-range::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				background: url('/src/assests/slider-btn.png') center no-repeat;
    			background-size: cover;
				cursor: pointer;
				margin-top:15px;
				height: 5.7vw;
				width: 5.7vw;
			}
		}
	}
}