.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;

    .section-bgr {
        opacity: 1;
    } 

    .token-wrap{
		transform: translateY(50%);
		z-index: 2;
	}
    
    .modal {
        width: 62%;
        color: rgba(30, 52, 75, 1);
    }

}