@use "../Base/Vars" as v;

.step1-section {
    
    display: flex;

    .section-bgr{
        opacity: 0.5;
    }
    
    .left-side {
        width: 40%;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        background-color: #fff;
        padding: 4vw;
        .logo {
            margin-bottom: 2vw;
        }
        .h2 {
            color:v.$main-color;
        }
    }

    .right-side {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 70%;
        }
    }

    
}