@use "./Vars" as v;

/* Typography */
h1, .h1 {
	font-size: clamp(28px, 2.8vw, 72px); //54px
	line-height: 1.25;
	// font-family: $main-font;
	margin: 0 0 clamp(20px, 1.5vw, 60px);
	font-weight: 400;
	color:v.$main-color;
}
h2, .h2 {
	font-size: clamp(24px, 2.5vw, 66px); //48px
	// font-family: $main-font;
	line-height: 1.3;
	margin: 0 0 clamp(25px, 1.7vw, 60px);
	font-weight: 400;
	color:v.$main-color;
}
h3, .h3 {
	font-size: clamp(22px, 1.7vw, 60px); //32px
	// font-family: $main-font;
	line-height: 1.3;
	margin: 0 0 clamp(25px, 1.7vw, 60px);
	font-weight: 400;
	// color: $text-color;
}
h4, .h4 {
	font-size: clamp(20px, 1.25vw, 50px); //24px
	// font-family: $main-font;
	line-height: 1.5;
	margin: 0 0 clamp(25px, 1.7vw, 60px);
	font-weight: 400;
	// color: $text-color;
}
h5, .h5 {
	font-size: clamp(14px, .73vw, 34px); //14px
	// font-family: $main-font;
	line-height: 1.5;
	margin: 0 0 clamp(12px, 1.2vw, 60px);
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: clamp(1.5px, .14vw, 4px);
	// color: $text-color;
}
h6, .h6 {
	font-size: clamp(14px, .73vw, 34px); //14px
	// font-family: $main-font;
	line-height: 1.5;
	margin: 0 0 clamp(25px, 1.7vw, 60px);
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: clamp(1.5px, .14vw, 4px);
	// color: $text-color;
}

.large-text {
	font-size: clamp(22px, 1.67vw, 40px);
	font-weight: 400;
}

.medium-text {
	font-size: clamp(20px, 1.46vw, 40px);
}

.small-text {
	font-size: 18px;
}

.font-main-color {
    color: #0097CD;
}

// #sun {
// 	animation: 7s sun-transform;
// }

// #sun-bgr {
// 	animation: animate-pulse 3s linear infinite;
// 	animation-delay: 4s;
// }

.next-btn-wrapper {
	position: absolute;
    right: -100%;
    bottom: 0;
    padding: 1.6vw 6.2vw 1.6vw 3.2vw;
    border-radius: 1.6rem 0px 0px 0px;
    background-color: v.$button-background;
    color: v.$button-default-color;
	transition: all .4s ease;

	svg {
		position: absolute;
		right: 3.2vw;
		z-index: 60;
		pointer-events: none;
		width: 1.85vw;
		transition: all .4s ease;
	}

	&:hover{
		.next-btn{
			padding-right: 1vw;
			color: #A0E2FE;
		}
	}

	.next-btn{
		cursor: pointer;
		text-transform: uppercase;
		font-size: clamp(18px, 1.4vw, 40px);
		color: #fff;
		transition: all .4s ease;
	}
}

.section-bgr {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0.5;
	transition: ease 1s all;
	svg {
		width: 100%;
		height: 100%;
	}
	
	&.overlay {
		&:after {
			content: '';
			transition: ease 1s all;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0.5;
			background: linear-gradient(180deg, #1E344B 0%, rgba(30, 52, 75, 0) 100%);
		}
	}
}

.ci-section {
    position: relative;
    height: 100vh;
    overflow: hidden;

}

.modal-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.modal {
	border-radius: 48px;
	background: rgba(245, 251, 253, 0.9);
	box-shadow: 0px 32px 39px 0px rgba(30, 52, 75, 0.11);
	backdrop-filter: blur(10px);
	padding:5vw;
	display: flex;
	flex-direction: column;

	&.w-50{
		width: 50% !important;
	}
}

// .overlay {
// 	position: absolute;
// 			left: 0;
// 			top: 0;
// 			width: 100%;
// 			height: 100%;
// 			opacity: 0.9;
// 			background: linear-gradient(180deg, #1E344B 0%, rgba(30, 52, 75, 0) 100%);
// }

// .overlay-blue{
// 	//background:linear-gradient(180deg, #1E344B 0%, rgba(30, 52, 75, 0) 100%);
// 	background:linear-gradient(180deg, rgba(160, 226, 254, 1) 0%, #1E344B 100%);
	

// }

.avatar-counter-wrap {
	display: flex;
	align-items:center;
	justify-content: center;
	padding: 12px 32px 12px 12px;
	border-radius: 72px;
	background: rgba(255, 255, 255, 1);
	//border: 4px solid;

	.left-side{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 24px;
		padding-right: 32px;
		border-right: 1px solid rgba(221, 221, 221, 1)
		;

		img{
			border-radius: 50%;
			width: 64px;
			height: 64px;
			object-fit: contain;
		}
	}

	.right-side{
		display: flex;
		align-items: center;
		justify-content: center;
		gap:18px;
		padding-left: 32px;
	}
}


.avatar-counter-abs {
	position: absolute;
	top:1vw;
	left:1vw;
}



.bg-green {
	background: linear-gradient(0deg, #3E944A, #3E944A),
	linear-gradient(0deg, #4DB95C, #4DB95C);
	border: 4px solid rgba(62, 148, 74, 1);
}

.token-cta-wrap {
	margin-top: 48px;
	display: flex;
	align-items: center;
}

.btn-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: clamp(15px, 1.3vw, 40px) clamp(20px, 2vw, 80px) clamp(15px, 1.3vw, 40px) clamp(30px, 2.5vw, 200px);
	gap: 16px;
	border-radius:60px;

}

.tokens-title {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1.8px;
}

.lose-token-btn{
	border:1px solid rgba(214, 97, 147, 1);
}

.get-token-btn{
	border:1px solid rgba(77, 185, 92, 1);
	margin-right: clamp(15px, 1vw, 70px);

	
}
.font-red-color {
    color: #CC3A78;
}

.font-green-color{
	color:rgba(77, 185, 92, 1);
}

.close-p{
	margin:0 0 3rem;
}

.uk-flex-column {
    flex-direction: column;
}
.uk-flex {
    display: flex;
	a{
		color: #0097CD;
    	text-decoration: none;
	}
}
