//Colors

$base-link-color: #024b6c;
$button-default-background: #76b737;
$button-default-color: #fff;
$button-default-hover-background: #fff;
$button-default-hover-color: #76b737;
$card-default-background: #f8f9fa;
$card-default-color: #333;
$table-striped-row-background: #f8f9fa;
$base-em-color: inherit;
$button-background: #1E344B;
$main-color:#0097CD;

//font

//$main-font: "neusa-next-std", sans-serif; /* font-weight available: 400,500,700 */
//$headline-font: "neusa-next-std", sans-serif; /* font-weight available: 400,500,700 */